* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  &.col {
    flex-direction: column;
  }
}

.loginForm {
  padding: 1em;
  border: 1px solid #ccc;
  max-width: 600px;
  margin: 3em auto;
  justify-content: center;
  & label {
    font-size: 0.9em;
    color: #777;
    padding: 0.2em 1em;
  }
  & input {
    font-size: 1.2em;
    padding: 1.1em;
    margin: 0.5em 2em;
  }
}

.container {
  max-width: 80%;
  margin: 1em auto;
  &.gameSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn {
      margin-top: 1em;
      max-width: 160px;
    }
  }
  &.gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 1fr 0.25fr;
    grid-template-areas: "pista pista" "letras hangman" "form form";

    .pista {
      grid-area: pista;
      font-size: 1.2em;
    }

    .letras {
      grid-area: letras;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .btn {
        margin: 0.1em;
        font-size: 1.5em;
      }
    }

    .hangman {
      grid-area: hangman;
    }

    .form {
      grid-area: form;
    }
  }
  .welcome {
    font-size: 1.2em;
    text-align: center;
  }
}

.hangman {
  text-align: center;
  margin: 0 auto;
}

.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  outline: none !important;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  &:active {
    position: relative;
    top: 1px;
  }
  &.primary {
    text-shadow: 0px 1px 0px #263666;
    -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #2dabf9),
      color-stop(1, #0688fa)
    );
    background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color: #2dabf9;
    &:hover {
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #0688fa),
        color-stop(1, #2dabf9)
      );
      background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
      background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
      background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
      background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
      background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
      background-color: #0688fa;
    }
  }
}

.letras {
  .btn {
    box-shadow: inset 0px 34px 0px -15px #b54b3a;
    background-color: #a73f2d;
    border: 1px solid #241d13;
    padding: 9px 23px;
    text-shadow: 0px -1px 0px #7a2a1d;
    &:hover {
      background-color: #b34332;
    }
  }
}
